<%= link_to products_path(category_id: category.id), class: "group relative overflow-hidden rounded-lg bg-gray-100 flex items-center justify-center hover:bg-gray-200 transition-colors p-4" do %>
  <div class="text-base font-medium text-gray-700 group-hover:text-gray-900 cursor-pointer"><%= category.name %></div>
<% end %>
